
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    display: grid;
    background-color: rgba(105, 114, 113, 0.9);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 6rem;
}
nav{
    margin: 3rem 3rem;
    border-radius: 2rem;
}

.nav-link{
    line-height: 1.5rem;
}

.nav-link:hover{
    text-decoration: underline;
}
/* .search-box{
   position: relative;
   width: 200px;
   margin-top: 10px; 
   transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265,1.55 );
}
.search-box.active{
    width: 350px;
}
.search-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background:white;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 60px 10px 20px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265,1.55 );

}
.search-box .search-btn{

    height: 40px;
    width: 40px;
    color: gray;
    position: absolute;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    background:white;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}
.search-box .search-btn.active{
    height: 30px;
    width: 30px;
    color: white;
    background:gray;
    line-height: 30px;
    right: 15px;
}
.search-box input.active{
    opacity:1;
}
.search-box .cancel-btn{
    position: absolute;
    top: 35%;
    right: -5px;
    transform: translateY(-50%);
    color: white;
   
    font-size: 20px;
    cursor: pointer;
} */
/* .search-box{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box.active{
    width: 350px;
  }
  .search-box input{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 15px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box input.active{
    opacity: 1;
  }
  .search-box input::placeholder{
    color: rgba(128, 128, 128, 0.603);
    font-family: 'Poppins', sans-serif;
  }
  .search-box .search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    color: gray;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box .search-icon.active{
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background: gray;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
  }
  .search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box .cancel-icon.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
  }
  .search-box .search-data{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
  }
  .search-box .search-data.active{
    display: none;
  } */
  
.active {
    color: black;
    font-weight: bolder;
}

.card{
    background-color: rgba(105, 114, 113, 0.9);
    color: rgb(219, 243, 237);
    width: 80rem;
    margin: 1rem 2rem;
    align-self: center;
}
.row{
    padding-bottom: 0.5rem;
}
.card-link{
    color: rgb(219, 243, 237);
}
.card-link:hover{
    color: rgb(54, 56, 56);
}
.list-group>li{
    background-color: rgba(105, 114, 113, 0.9);
    color: rgb(219, 243, 237);
}

.btn{
    background-color:rgba(65, 71, 70,0.5) ;
    color: rgb(219, 243, 237);
}
.copy_right{
    color: rgb(150, 150, 150);
    font-size: 1rem;  
    margin-top: 1rem;
}
.fo-row{
    justify-content: center;
}
footer{
    margin-top: 6rem;
}





